<div class="background-pattern absolute-center background-cover z-0 position-fixed"></div>

<div class="wrapping"
	 [class.overflow-hidden]="!isShowChoose"
>
	<app-nav (tapLeftBtn)="goPrevPage()"
			 [title]="title"
			 [isShowLeftBtn]="true"
			 class="nav position-relative z-1000"></app-nav>

	<div *ngIf="!isShowChoose; else choose"
		 class="position-relative z-1000"
	>
		<div class="form">
			<app-keyboard (enter)="onClickEnter($event)"
			></app-keyboard>
		</div>

	</div>
</div>

<ng-template #choose>
  <app-choose-ig (tapAccount)="onTapAccount($event)"
              [query]="query"
              class="position-relative z-1000"></app-choose-ig>
</ng-template>




