@import "../../shared/_custom-variables";

.wrapping {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  transform: translate(50%, 50%);
}

.content-background {
  width: 100%;
  padding-top: 100%;
  border-radius: 100%;
  background-color: $color-white;
  box-shadow: -10px -2px 17px 3px rgba(0,0,0,0.15);
}

.contents {
  position: absolute;
  top: 15%;
  left: 18%;
  width: 33%;
}

.text {
  letter-spacing: 2.1px;
}

.btn-next {
  position: relative;
  right: 2.25rem;
  background-image: $gradient-primary;
  border-radius: 40px;
  height: 72px;
  transition: all 0.2s ease-out;
  width: 100%;
}

.btn-disable {
  background-image: $gradient-grey;
}

.btn-text {
  letter-spacing: 1.71px;
}
