.nav {
  margin-bottom: 2.25rem;
}

.wrapping {
  width: 100vw;
  overflow-x: hidden;
}

.container-profile {
  left: 1rem;
  padding: 1rem 3.5rem 0 3.5rem;
}

.container-pic {
  padding: 0 1.5rem 0 1.5rem;
}

.pic {
  width: 100%;
  border-radius: 100%;
}

.name {
  font-size: 27px;
}

.container-images {
  position: relative;
  right: 3.5rem;
}

.bottom {
  height: 10px;
}

//.wrapping-counter {
//  position: fixed;
//  //bottom: 0;
//  //right: 0;
//  //padding: 0;
//  //transform: translate(50%, 50%);
//}