<div class="wrapping">

	<app-nav (tapLeftBtn)="goPrev()"
			 [title]="isPrivate ? 'This account can’t be use' : 'Select photos'"
			 [isShowLeftBtn]="true"
			 class="nav d-block"
	></app-nav>

	<div class="row m-0">
		<div class="col-3 overflow-hidden position-relative">
			<div class="container-profile position-fixed text-center">
				<div class="container-pic mb-4">
					<img class="pic" [src]="picUrl || 'assets/images/user-circle.png'" />
				</div>
				<h4 class="name color-grey font-weight-bold">{{ name }}</h4>
			</div>
		</div>

		<div
			 class="container-images row col-9 m-0"
		>

			<ng-container *ngIf="!isPrivate; else privacyError">
				<ng-container *ngIf="images.length > 0; else placeholder">
					<div *ngFor="let image of images; index as i;"
						 class="col-3 mb-4">
						<app-image-thumbnail [image]="image"
						></app-image-thumbnail>
					</div>
				</ng-container>
			</ng-container>

		</div>
		<div inViewport
			 (inViewportAction)="reachBottom()"
			 class="bottom d-block w-100 position-relative"></div>
	</div>

	<app-counter *ngIf="!isPrivate"
				 (goNext)="onNext($event)"
				 class="wrapping-counter"
	></app-counter>
	<app-bubble [isShow]="isShowError" class="bubble z-1070"
	></app-bubble>
</div>

<ng-template #placeholder>
	<div *ngFor="let i of imageHolders;"
		 class="col-3 mb-4">
		<img class="d-block w-100 rounded" src="assets/images/logo_memo_ph.png"/>
	</div>
</ng-template>

<ng-template #privacyError>
	<div class="container-error position-absolute z-1070">
		<app-privacy-error (tapReload)="tapReload()">
		</app-privacy-error>
	</div>
</ng-template>