
$color-black: #4A4A4A;
$color-grey-heavy: #636363;
$color-grey: #868686;
$color-grey-light2: #9B9B9B;
$color-grey-light: #CECECE;
$color-white: #FFFFFF;

$color-primary: #F28AB7;
$color-primary-light: #FCAAC3;

$gradient-primary: linear-gradient(242.98deg, #FAA1CE 0%, #F28AB7 100%);
$gradient-grey: linear-gradient(242.98deg, #CCCCCC 0%, #A5A5A5 100%);
$gradient-grey-light: linear-gradient(242.98deg, #CCCCCC 0%, #A5A5A5 100%);

$border-grey: 1px solid $color-grey-light2;

