@import "app/shared/_custom-variables";

// import fonts
@import url('//fonts.googleapis.com/earlyaccess/notosanstc.css');
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/materialicons/v37/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

// overwrite bootstrap variables
$body-bg: $color-white;
$grid-gutter-width: 24px;
$btn-border-width: 0;
$font-family-sans-serif: 'Noto Sans', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// import only the Bootstrap modules you need, e.g.
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/utilities";


// global css
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

a,
button,
input,
textarea {
  border: none;
  &:focus {
    outline: none !important;
  }
}


.font-body {
  font-family: $font-family-sans-serif;
  margin: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.color-primary {
  color: $color-primary !important;
}

.color-white {
  color: $color-white !important;
}

.color-black {
  color: $color-black !important;
}

.color-grey-light {
  color: $color-grey-light !important;
}

.color-grey {
  color: $color-grey !important;
}

.background-pattern {
  width: 100%;
  height: 100%;
  background-image: url("assets/images/bg.png");
  pointer-events: none;
}


// font size
h1 {
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.31px;
  font-family: $font-family-sans-serif;
}
h2 {
  font-size: 38px;
  font-family: $font-family-sans-serif;
}
h3 {
  font-size: 32px;
  line-height: 43px;
  letter-spacing: 0.17px;
  font-family: $font-family-sans-serif;
}
h4 {
  font-size: 22px;
  line-height: 38px;
  letter-spacing: 0.21px;
  font-weight: 500;
  font-family: $font-family-sans-serif;
}
p {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.16px;
  font-weight: 400;
  font-family: $font-family-sans-serif;
}


// utilities
.hidden {
  position: fixed;
  top: -9999px !important;
  left: -9999px !important;
  pointer-events: none !important;
  z-index: -1000 !important;
  visibility: hidden !important;
}

.overflow-hidden {
  overflow: hidden;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
}

.background-cover {
  background: {
    size: cover;
    repeat: no-repeat;
    position: center;
  }
}

/*
  background: 0
  dropdown: 1000
  sticky: 1020
  fixed: 1030
  modal-backdrop: 1040
  modal: 1050
  popover: 1060
  tooltip: 1070
*/

.z-0 {
  z-index: 0;
}
.z-1000 {
  z-index: 1000;
}
.z-1020 {
  z-index: 1020;
}
.z-1030 {
  z-index: 1030;
}
.z-1040 {
  z-index: 1040;
}
.z-1050 {
  z-index: 1050;
}
.z-1060 {
  z-index: 1060;
}
.z-1070 {
  z-index: 1070;
}

// carousel
//.ngucarousel-items {
//  display: inline-flex !important;
//}


// virtual keyboard
// @ngx-material-keyboard/core

mat-keyboard-container {
  overflow: hidden !important;
  width: 100vw !important;
  margin: 0 !important;
  max-width: unset !important;
  min-width: 992px !important;
  box-shadow: unset !important;
  position: absolute !important;
  bottom: 0 !important;
}

.mat-keyboard-wrapper {
  background-color: #ECEFF1 !important;
  width: 100% !important;
  min-width: 992px !important;
  padding: 1em 11em !important;
}

.mat-keyboard-key {
  font-size: 24px;
  //font-weight: normal;
  //line-height: 39px;
  color: #37474F !important;
  font-weight: normal !important;
  background-color: #FBFCFC;
  box-shadow: unset !important;
  padding: 8px 16px !important;
}

.mat-keyboard-key:active, .mat-keyboard-key-modifier:active {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.1),
              0 2px 2px 0 rgba(0,0,0,.08),
              0 1px 5px 0 rgba(0,0,0,.04) !important;
  background-color: transparent !important;
}

.mat-keyboard-key-modifier {
  background-color: #E0E3E5 !important;
}

.mat-keyboard-key- {
  background-color: #FBFCFC !important;
}

.mat-keyboard-key-enter {
  background-color: #F28AB7 !important;
}



