.background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url("../../assets/images/bg-home.png");
}

.logo {
  margin-top: 10rem;
  margin-bottom: 2.5rem;
}

.btn-img {
  margin-bottom: 5.25rem;
}

.btn-text {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
