
<div class="row m-0 position-relative z-1000">
  <div class="w-100 text-center position-relative">
    <img class="logo" height="69" src="assets/images/logo-white.svg"/>
  </div>

  <div class="group row col-6 offset-3">

    <div (click)="goNext('ig')"
         class="col-4 position-relative"
    >
      <img class="btn-img" height="210" src="assets/images/icons/button-ig.png"/>
      <h3 class="btn-text color-white font-weight-black">Instagram printing</h3>
    </div>

    <div (click)="goNext('tag')"
         class="col-4 offset-4 position-relative"
    >
      <img class="btn-img" height="210" src="assets/images/icons/button-tag.png"/>
      <h3 class="btn-text color-white font-weight-black">Hashtag printing</h3>
    </div>

  </div>
</div>

<div class="background background-cover position-absolute z-0"></div>
