@import "../shared/custom-variables";

.wrapping {
  width: 100vw;
  height: 100vh;
}

.canvas-print {
  width: 100vw;
}

.photos {
  width: 644px;
  height: 433px;
  margin: auto !important;
}

.photo {
  height: 100%;
  padding: 1rem 1rem 1rem 1rem;
  background-color: $color-white;
}

.photo-text {
  font-size: 12px;
  line-height: 18px;
  color: $color-black;
  overflow: hidden;
  max-height: 90px;
  width: 100%;
  word-break: break-all;
}

.photo-right {
  right: -2rem;
}

.photo-left {
  left: -2rem;
}

.container-image {
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.image {
  position: r;
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.thin-border {
  border: $border-grey;
}

.thin-border-right {
  border-right: $border-grey;
}

.carousel {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 180vw;
}

.item {
  margin: 0;
  width: 33%;
  min-height: 1px;
}

.item-null {
  width: 12.5%;
}


.btn-carousel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 10%;
  opacity: 0;
}

.btn-left {
  left: 20%;
}

.btn-right {
  right: 20%;
}

.btn-preview {
  position: absolute;
  bottom: 2rem;
  width: 20rem;
  height: 6rem;
  border-radius: 45px;
  color: $color-white;
}

.btn-prev {
  left: 4.5rem;
  background-image: $gradient-grey-light;
  opacity: 0.73;
  transition: all 0.25s ease-out;
  &:hover, &:active {
    opacity: 1;
  }
}

.btn-next {
  left: 50%;
  transform: translate(-50%, 0);
  background-image: $gradient-primary;
}

.btn-next-animation {
  animation:
          pulse
          0.75s
          ease-out
          0s
          alternate
          infinite
          none
          running;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.65;
  }
}
