


<div class="background-pattern absolute-center background-cover z-0 position-fixed"></div>

<div class="wrapping position-relative z-1000">
    <app-nav (tapLeftBtn)="goPrev()"
             [title]="'Preview'"
             [isShowLeftBtn]="true"
             class="nav"></app-nav>


	<ngu-carousel [inputs]="carouselOne"
				  class="carousel"
	>
		<ngu-item NguCarouselItem
				  *ngFor="let images of imagesURL"
				  class="item"
		>
			<div class="photos row"
			>
				<div *ngFor="let img of images; index as i"
					 [class.photo-right]="i % 2 !== 0"
					 [class.photo-left]="i % 2 === 0"
					 class="photo thin-border col-6">
					<div class="container-image d-block position-relative mb-2">
						<img class="image absolute-center" [src]="img.display_url" />
					</div>
					<p class="photo-text">{{ img.edge_media_to_caption?.edges[0]?.node?.text }}</p>
					<p class="photo-date">{{img.taken_at_timestamp * 1000 | date:'yyyy-MM-dd'}}</p>
					<img class="photo-logo" src="assets/images/logo-brown.svg">
				</div>
			</div>

		</ngu-item>

		<button NguCarouselPrev class='btn-carousel btn-left z-1070'>
			<img class="absolute-center" width="96px" src="assets/images/icons/arrow-left-grey.svg" />
		</button>
		<button NguCarouselNext class='btn-carousel btn-right z-1070'>
			<img class="absolute-center" width="96px" src="assets/images/icons/arrow-right-grey.svg" />
		</button>

	</ngu-carousel>

	<button (tap)="goPrev()" class="btn-preview btn-prev"><h1>reselect</h1></button>
	<button [disabled]="isPending"
			(tap)="goNext()"
			[class.btn-next-animation]="isPending"
			class="btn-preview btn-next">
		<h1>{{isPending ? 'Print...' : 'Print'}}</h1>
	</button>

</div>


<!--	for html2canvas layout	-->
<div class="canvas-print hidden">
	<div *ngFor="let images of imagesURL">
		<div #photosEl
			 class="photos row visible position-relative"
		>
			<div *ngFor="let img of images; index as i"
				 [class.thin-border-right]="i % 2 == 0"
				 class="photo col-6">
				<div class="visible mb-2">
					<app-photo #photo
							   (isDone)="photoDone()"
							   [imageURL]="img.display_url"
					></app-photo>
				</div>
				<p class="photo-text">{{ img.edge_media_to_caption?.edges[0]?.node?.text }}</p>
				<p class="photo-date">{{ img.taken_at_timestamp * 1000 | date:'yyyy-MM-dd' }}</p>
				<img class="photo-logo" src="assets/images/logo-brown.svg">
			</div>
		</div>
	</div>
</div>

	<!--test-->
<!--<div *ngFor="let image of testimages">-->
	<!--<img width="500" [src]="image" />-->
<!--</div>-->