
<angular-cropper #angularCropper
                 [cropbox]="cropBox"
                 [cropperOptions]="config"
                 [imageUrl]="imageURL"
                 (ready)="onReady($event)"
                 (export)="export($event)"
                 class="cropper position-fixed invisible"
></angular-cropper>

<div class="container-image">
    <img #photo
         appImageDemension
         (calDimension)="calDimension($event)"
         [ngClass]="{'image-horizon': isHorizon,
                     'image-portrait': !isHorizon}"
         [src]="dataUrl"
         crossorigin="anonymous"
         class="image position-absolute d-block" />


</div>


