<div class="row mb-4">
	<div class="col-2 offset-2">
		<img width="112" src="assets/images/icons/icon_private.svg"/>
	</div>
	<div class="col-6 p-0">
		<p class="text color-black font-weight-normal">Your account is private <br> Please set your permission into
			public </p>
	</div>
</div>

<div class="row mb-5">
	<button (tap)="tap()"
			class="btn-reload position-relative d-block m-auto">
		<img class="reload-image position-absolute" width="50" src="assets/images/icons/icon_reload.svg" />
		<h1 class="reload-text color-white font-weight-bold d-inline">Reload</h1>
	</button>
</div>

<div class="row">
	<img class="w-100" src="assets/images/error_steps.jpg" />
</div>
